body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}
p {
    font-size: 14px;
}
h1 {
    font-size: 30px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

#contain-perfume-box {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    width: 500px;
}
#Contain-text {
    margin-right: 30px;
}
#image-perfume {
    width: 250px;
    min-height: 350px;
    margin-right: 25px;
}
#text-main-styling {
    font-size: 16px;
}
#title-text-styling {

}
.mon-class {
    font-family: "Montserrat", sans-serif;
    word-wrap: break-word;
}
.frau-class {
    font-family: "Fraunces", serif;
    word-wrap: break-word;
}
  
